[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
drf-spectacular = "*"
dj-rest-auth = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.10"
